/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary: #fc5d66;
  --secondary: #ffc05a;
  --light: #f9fafb;
  --dark: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border-radius: 32px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: var(--dark);
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background: var(--primary);
  color: #fff;
  border-color: #fff;
}

.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}

.section {
  margin: 4rem 0;
}

.section-header {
  max-width: 750px;
  margin: 0 auto 3rem;
  text-align: center;
}
.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 0.5rem;
}
.section-header p {
  font-size:
   1.3rem;
  color: var(--dark);
}
.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary);
  margin: 0 auto 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.75rem;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background: transparent;
  color: #fff;
  z-index: 1000;
  transition: background 0.5s ease-in-out;
}
.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  width: 81px;
  height: 32px;
}
.navbar .main-menu-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 600;
}
.navbar a {
  color: #fff;
  transition: color 0.2s;
}
.navbar a:hover {
  color: var(--secondary);
}
.navbar i {
  font-size: 1.5rem;
}

.mobile-menu {
  display: none;
}
.mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}
.mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 3rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.mobile-menu-items.active {
  transform: translateX(0);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.hero {
  position: relative;
  overflow-x: hidden;
  background: #000 url("../images/header-background.jpg") center/cover no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
}
.hero .hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}
.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.hero img {
  width: 100%;
  margin-right: -100px;
}
.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.topic img {
  transition: transform 0.3s;
}
.topic img:hover {
  transform: scale(1.1);
}
.topic h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}
.chapter-cards img {
  width: 130px;
  margin-top: 1rem;
}
.chapter-cards h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summary {
  background: var(--light);
  color: var(--dark);
  padding: 4rem 2rem 5rem;
}
.summary .section-lists {
  background: #fff;
  padding: 2rem;
}
.summary .list-header {
  background: var(--primary);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}
.summary .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}
.summary .list-item:last-child {
  border-bottom: none;
}

.info-container {
  display: flex;
  background: url("../images/audience.jpg") top center/cover no-repeat;
}
.info-left {
  width: 50%;
}
.info-content {
  flex: 1;
  background: var(--primary);
  color: #fff;
  padding: 4rem;
}
.info-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}
.info-content i {
  margin-right: 0.5rem;
  color: var(--secondary);
}

.takeaways-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem 0;
}
.takeaways-cards .card {
  flex-direction: row;
  text-align: left;
}
.takeaways-cards .card i {
  margin-right: 1rem;
}

.details .details-flex {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.details img {
  width: 100%;
  max-width: 500px;
}
.details h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details .heading-border {
  margin: 0;
}
.details p {
  margin: 1rem 0 2rem;
}
.details + .details .details-flex {
  flex-direction: row-reverse;
}
.details ul {
  margin-bottom: 2rem;
}
.details ul li {
  line-height: 2;
}
.details i {
  margin-right: 0.5rem;
}

.stats {
  background: #000 url("../images/stats-background.jpg") center/cover no-repeat;
  color: #fff;
}
.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
.stats img {
  width: 100%;
  max-width: 500px;
}
.stats-content {
  max-width: 500px;
}
.stats-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
}
.stats-numbers p {
  font-size: 0.8rem;
}
.stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.stats .btn {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.newsletter {
  text-align: center;
  margin: 0 2rem;
}
.newsletter-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--light);
  border: 1px solid #eee;
  padding: 4rem 2rem;
}
.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}
.newsletter p {
  max-width: 600px;
}
.newsletter input[type="email"] {
  padding: 1rem 2rem;
  border-radius: 32px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  margin: 1rem 0;
}

.social {
  background: var(--dark);
  color: #fff;
  text-align: center;
  padding: 6rem 2rem;
  font-size: 1.7rem;
}
.social a,
.footer a {
  color: #fff;
  transition: 0.2s;
}
.social a:hover,
.footer a:hover {
  color: var(--secondary);
}
.social p {
  margin-bottom: 2rem;
}
.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.footer {
  background: var(--dark);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.inner-header {
  background: var(--primary);
  color: #fff;
  height: 250px;
  padding-top: 8rem;
}
.inner-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-form p {
  margin-bottom: 3rem;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1.2rem 1rem;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 16px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form .btn {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto;
  display: block;
}

.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.location p {
  margin-bottom: 2rem;
}
.location .map {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 50%;
  border-radius: 0.25rem;
  margin-bottom: 3rem;
}
.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 1200px) {
  .hero .hero-flex {
    gap: 2rem;
  }
  .hero img {
    max-width: 500px;
    margin-right: 0;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .hero {
    text-align: center;
  }
  .hero .hero-flex {
    flex-direction: column;
    padding-bottom: 4rem;
  }
  .hero img {
    max-width: 600px;
    margin-top: 2rem;
  }
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }
  .chapter-cards,
  .takeaways-cards {
    grid-template-columns: 1fr;
  }
  .details-flex,
  .details + .details .details-flex,
  .stats-flex {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  .main-menu-items,
  .info-left {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
  .info-container {
    flex-direction: column;
  }
  .info-content {
    padding: 2rem;
  }
  .info-content h2 {
    font-size: 1.5rem;
  }
  .info-content p {
    font-size: 1rem;
  }
  .social .social-icons {
    flex-wrap: wrap;
  }
  .social p {
    font-size: 1.2rem;
  }
  .social i {
    font-size: 2rem;
  }
  .footer {
    padding: 0.5rem 1rem;
  }
  .footer-flex {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 0 0.2rem;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero img {
    max-width: 350px;
  }
  .topics {
    grid-template-columns: 1fr;
  }
  .summary .container {
    padding: 0;
  }
  .stats-numbers {
    flex-direction: column;
  }
  .newsletter h2 {
    font-size: 1.5rem;
  }
  .newsletter p {
    display: none;
  }
}
